[*.cs]

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none
